.categories {
  &__title {
    font-family: "Futura PT";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 41px;
    /* identical to box height */

    color: #000000;
    margin-top: 150px;
    margin-bottom: 60px;
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    perspective: 800px;
    transform-style: preserve-3d;
  }
}
.category {
  position: relative;
  transition: 0.3s;
  border-radius: 18px;
  cursor: pointer;
  &:hover {
    transform: rotateX(-10deg);
  }
  &__title {
    position: absolute;
    font-family: "Futura PT";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    color: #ffffff;
    left: 30px;
    top: 25px;
  }
  &__thumb {
    border-radius: 18px;
    height: 250px;
    img {
      display: block;
      border-radius: 18px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
