@font-face {
  font-family: "Futura PT";
  src: url("fonts/FuturaPT/FuturaPT-Bold.eot");
  src: local("Futura PT Bold"), local("FuturaPT-Bold"), url("fonts/FuturaPT/FuturaPT-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPT/FuturaPT-Bold.woff2") format("woff2"), url("fonts/FuturaPT/FuturaPT-Bold.woff") format("woff"), url("fonts/FuturaPT/FuturaPT-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: url("fonts/FuturaPT/FuturaPT-Heavy.eot");
  src: local("Futura PT Heavy"), local("FuturaPT-Heavy"), url("fonts/FuturaPT/FuturaPT-Heavy.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPT/FuturaPT-Heavy.woff2") format("woff2"), url("fonts/FuturaPT/FuturaPT-Heavy.woff") format("woff"), url("fonts/FuturaPT/FuturaPT-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT Demi";
  src: url("fonts/FuturaPT/FuturaPT-DemiObl.eot");
  src: local("Futura PT Demi Oblique"), local("FuturaPT-DemiObl"), url("fonts/FuturaPT/FuturaPT-DemiObl.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPT/FuturaPT-DemiObl.woff2") format("woff2"), url("fonts/FuturaPT/FuturaPT-DemiObl.woff") format("woff"), url("fonts/FuturaPT/FuturaPT-DemiObl.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Futura PT Cond Extra";
  src: url("fonts/FuturaPT/FuturaPTCond-ExtraBoldObl.eot");
  src: local("Futura PT Cond Extra Bold Oblique"), local("FuturaPTCond-ExtraBoldObl"), url("fonts/FuturaPT/FuturaPTCond-ExtraBoldObl.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPT/FuturaPTCond-ExtraBoldObl.woff2") format("woff2"), url("fonts/FuturaPT/FuturaPTCond-ExtraBoldObl.woff") format("woff"), url("fonts/FuturaPT/FuturaPTCond-ExtraBoldObl.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Futura PT Cond Book";
  src: url("fonts/FuturaPT/FuturaPTCond-Book.eot");
  src: local("Futura PT Cond Book"), local("FuturaPTCond-Book"), url("fonts/FuturaPT/FuturaPTCond-Book.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPT/FuturaPTCond-Book.woff2") format("woff2"), url("fonts/FuturaPT/FuturaPTCond-Book.woff") format("woff"), url("fonts/FuturaPT/FuturaPTCond-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: url("fonts/FuturaPT/FuturaPT-LightObl.eot");
  src: local("Futura PT Light Oblique"), local("FuturaPT-LightObl"), url("fonts/FuturaPT/FuturaPT-LightObl.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPT/FuturaPT-LightObl.woff2") format("woff2"), url("fonts/FuturaPT/FuturaPT-LightObl.woff") format("woff"), url("fonts/FuturaPT/FuturaPT-LightObl.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Futura PT Book";
  src: url("fonts/FuturaPT/FuturaPT-BookObl.eot");
  src: local("Futura PT Book Oblique"), local("FuturaPT-BookObl"), url("fonts/FuturaPT/FuturaPT-BookObl.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPT/FuturaPT-BookObl.woff2") format("woff2"), url("fonts/FuturaPT/FuturaPT-BookObl.woff") format("woff"), url("fonts/FuturaPT/FuturaPT-BookObl.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Futura PT";
  src: url("fonts/FuturaPT/FuturaPT-HeavyObl.eot");
  src: local("Futura PT Heavy Oblique"), local("FuturaPT-HeavyObl"), url("fonts/FuturaPT/FuturaPT-HeavyObl.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPT/FuturaPT-HeavyObl.woff2") format("woff2"), url("fonts/FuturaPT/FuturaPT-HeavyObl.woff") format("woff"), url("fonts/FuturaPT/FuturaPT-HeavyObl.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Futura PT Cond";
  src: url("fonts/FuturaPT/FuturaPTCond-BoldObl.eot");
  src: local("Futura PT Cond Bold Oblique"), local("FuturaPTCond-BoldObl"), url("fonts/FuturaPT/FuturaPTCond-BoldObl.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPT/FuturaPTCond-BoldObl.woff2") format("woff2"), url("fonts/FuturaPT/FuturaPTCond-BoldObl.woff") format("woff"), url("fonts/FuturaPT/FuturaPTCond-BoldObl.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Futura PT Demi";
  src: url("fonts/FuturaPT/FuturaPT-Demi.eot");
  src: local("Futura PT Demi"), local("FuturaPT-Demi"), url("fonts/FuturaPT/FuturaPT-Demi.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPT/FuturaPT-Demi.woff2") format("woff2"), url("fonts/FuturaPT/FuturaPT-Demi.woff") format("woff"), url("fonts/FuturaPT/FuturaPT-Demi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT Cond Book";
  src: url("fonts/FuturaPT/FuturaPTCond-BookObl.eot");
  src: local("Futura PT Cond Book Oblique"), local("FuturaPTCond-BookObl"), url("fonts/FuturaPT/FuturaPTCond-BookObl.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPT/FuturaPTCond-BookObl.woff2") format("woff2"), url("fonts/FuturaPT/FuturaPTCond-BookObl.woff") format("woff"), url("fonts/FuturaPT/FuturaPTCond-BookObl.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Futura PT Extra";
  src: url("fonts/FuturaPT/FuturaPT-ExtraBold.eot");
  src: local("Futura PT Extra Bold"), local("FuturaPT-ExtraBold"), url("fonts/FuturaPT/FuturaPT-ExtraBold.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPT/FuturaPT-ExtraBold.woff2") format("woff2"), url("fonts/FuturaPT/FuturaPT-ExtraBold.woff") format("woff"), url("fonts/FuturaPT/FuturaPT-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT Cond";
  src: url("fonts/FuturaPT/FuturaPTCond-Medium.eot");
  src: local("Futura PT Cond Medium"), local("FuturaPTCond-Medium"), url("fonts/FuturaPT/FuturaPTCond-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPT/FuturaPTCond-Medium.woff2") format("woff2"), url("fonts/FuturaPT/FuturaPTCond-Medium.woff") format("woff"), url("fonts/FuturaPT/FuturaPTCond-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: url("fonts/FuturaPT/FuturaPT-Medium.eot");
  src: local("Futura PT Medium"), local("FuturaPT-Medium"), url("fonts/FuturaPT/FuturaPT-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPT/FuturaPT-Medium.woff2") format("woff2"), url("fonts/FuturaPT/FuturaPT-Medium.woff") format("woff"), url("fonts/FuturaPT/FuturaPT-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT Cond Extra";
  src: url("fonts/FuturaPT/FuturaPTCond-ExtraBold.eot");
  src: local("Futura PT Cond Extra Bold"), local("FuturaPTCond-ExtraBold"), url("fonts/FuturaPT/FuturaPTCond-ExtraBold.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPT/FuturaPTCond-ExtraBold.woff2") format("woff2"), url("fonts/FuturaPT/FuturaPTCond-ExtraBold.woff") format("woff"), url("fonts/FuturaPT/FuturaPTCond-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: url("fonts/FuturaPT/FuturaPT-MediumObl.eot");
  src: local("Futura PT Medium Oblique"), local("FuturaPT-MediumObl"), url("fonts/FuturaPT/FuturaPT-MediumObl.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPT/FuturaPT-MediumObl.woff2") format("woff2"), url("fonts/FuturaPT/FuturaPT-MediumObl.woff") format("woff"), url("fonts/FuturaPT/FuturaPT-MediumObl.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Futura PT Cond";
  src: url("fonts/FuturaPT/FuturaPTCond-Bold.eot");
  src: local("Futura PT Cond Bold"), local("FuturaPTCond-Bold"), url("fonts/FuturaPT/FuturaPTCond-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPT/FuturaPTCond-Bold.woff2") format("woff2"), url("fonts/FuturaPT/FuturaPTCond-Bold.woff") format("woff"), url("fonts/FuturaPT/FuturaPTCond-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: url("fonts/FuturaPT/FuturaPT-BoldObl.eot");
  src: local("Futura PT Bold Oblique"), local("FuturaPT-BoldObl"), url("fonts/FuturaPT/FuturaPT-BoldObl.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPT/FuturaPT-BoldObl.woff2") format("woff2"), url("fonts/FuturaPT/FuturaPT-BoldObl.woff") format("woff"), url("fonts/FuturaPT/FuturaPT-BoldObl.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Futura PT Book";
  src: url("fonts/FuturaPT/FuturaPT-Book.eot");
  src: local("Futura PT Book"), local("FuturaPT-Book"), url("fonts/FuturaPT/FuturaPT-Book.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPT/FuturaPT-Book.woff2") format("woff2"), url("fonts/FuturaPT/FuturaPT-Book.woff") format("woff"), url("fonts/FuturaPT/FuturaPT-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: url("fonts/FuturaPT/FuturaPT-Light.eot");
  src: local("Futura PT Light"), local("FuturaPT-Light"), url("fonts/FuturaPT/FuturaPT-Light.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPT/FuturaPT-Light.woff2") format("woff2"), url("fonts/FuturaPT/FuturaPT-Light.woff") format("woff"), url("fonts/FuturaPT/FuturaPT-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT Cond";
  src: url("fonts/FuturaPT/FuturaPTCond-MediumObl.eot");
  src: local("Futura PT Cond Medium Oblique"), local("FuturaPTCond-MediumObl"), url("fonts/FuturaPT/FuturaPTCond-MediumObl.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPT/FuturaPTCond-MediumObl.woff2") format("woff2"), url("fonts/FuturaPT/FuturaPTCond-MediumObl.woff") format("woff"), url("fonts/FuturaPT/FuturaPTCond-MediumObl.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Futura PT Extra";
  src: url("fonts/FuturaPT/FuturaPT-ExtraBoldObl.eot");
  src: local("Futura PT Extra Bold Oblique"), local("FuturaPT-ExtraBoldObl"), url("fonts/FuturaPT/FuturaPT-ExtraBoldObl.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPT/FuturaPT-ExtraBoldObl.woff2") format("woff2"), url("fonts/FuturaPT/FuturaPT-ExtraBoldObl.woff") format("woff"), url("fonts/FuturaPT/FuturaPT-ExtraBoldObl.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Futura PT";
}

body {
  overflow: hidden;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.main.products-grid {
  background: #f7f8fa;
}

.main__container {
  width: 1140px;
  max-width: 1140px;
}

.main__container.home {
  padding-bottom: 120px;
  margin-bottom: 150px;
  border-bottom: 3px solid #c0c0c0;
}

.main__title {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 41px;
  /* identical to box height */
  margin-top: 85px;
  margin-bottom: 75px;
  color: #000000;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-image: url(images/main-header-bg.jpg);
  background-position: center 0;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 30px 50px 30px;
}

.header.products-header {
  background-image: url(images/product-bg.jpg);
}

.header.about-header {
  background-image: url(images/about-bg.jpg);
}

.header.contacts-header {
  background-image: url(images/contacts-header-bg.jpg);
}

.header.product-item-header {
  background-image: none;
  background: #000;
  padding: 60px 30px 60px 30px;
}

.header__container {
  max-width: 1140px;
  width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  margin-top: 0px;
}

.header__nav .nav-menu {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 75px;
}

.header__nav .nav-menu__item {
  position: relative;
  padding-bottom: 10px;
}

.header__nav .nav-menu__item.has-children > a::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: calc(100% + 5px);
  background-image: url(images/arrow-down.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 12px;
  height: 7px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__nav .nav-menu__item.has-children .sub-menu {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  padding: 10px 25px 10px 10px;
  background: #444;
  top: 100%;
  left: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 150px;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__nav .nav-menu__item.has-children:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header__nav .nav-menu__item.has-children:hover > a::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header__nav .nav-menu__item a {
  position: relative;
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 152px;
}

.header__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__topbar {
  margin-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header__topbar .contacts {
  padding: 10px 55px;
  border: 2px solid #ffffff;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.header__topbar .edit {
  margin-left: 25px;
}

.header__topbar .search {
  margin-left: 25px;
}

.header__about {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 650px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.header__about .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__about .col .pr-title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  /* identical to box height */
  letter-spacing: 0.19em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}

.header__about .col .sc-title {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  /* identical to box height */
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: right;
}

.header__about .content {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  margin-top: 40px;
  color: #ffffff;
}

.header__about a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  background: #b98500;
  padding: 15px 35px;
  margin-top: 20px;
}

.header__features {
  margin-top: 15px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header__features .th-title {
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.2em;
  color: #ffffff;
}

.header__features ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.header__features ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header__features ul li + li {
  margin-left: 100px;
}

.header__features ul li h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */
  letter-spacing: 0.1em;
  color: #ffffff;
}

.header__features ul li span {
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  letter-spacing: 0.1em;
  color: #ffffff;
  margin-top: 5px;
}

.header__title {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 62px;
  /* identical to box height */
  letter-spacing: 0.19em;
  text-transform: uppercase;
  color: #ffffff;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 150px;
}

.products {
  width: 100%;
  padding-top: 150px;
  position: relative;
}

.products::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 100vw;
  height: 100%;
  background: #fff;
}

.products__container {
  width: 100%;
}

.products__title {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  /* identical to box height */
  color: #000000;
  margin-bottom: 25px;
}

.products__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (260px)[4];
      grid-template-columns: repeat(4, 260px);
  grid-gap: 25px 30px;
  background: #fff;
}

.product-card {
  position: relative;
  overflow: hidden;
  height: 500px;
  width: 260px;
  background: #fff;
}

.product-card:hover {
  overflow: visible;
  z-index: 10;
}

.product-card:hover .product-card:nth-child(1) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(2) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(3) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(4) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(5) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(6) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(7) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(8) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(9) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(10) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(11) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(12) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(13) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(14) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(15) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(16) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(17) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(18) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(19) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(20) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(21) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(22) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(23) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(24) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(25) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(26) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(27) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(28) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(29) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(30) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(31) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(32) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(33) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(34) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(35) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(36) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(37) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(38) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(39) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(40) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(41) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(42) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(43) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(44) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(45) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(46) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(47) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(48) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(49) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(50) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(51) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(52) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(53) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(54) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(55) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(56) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(57) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(58) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(59) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(60) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(61) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(62) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(63) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(64) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(65) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(66) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(67) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(68) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(69) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(70) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(71) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(72) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(73) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(74) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(75) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(76) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(77) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(78) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(79) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(80) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(81) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(82) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(83) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(84) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(85) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(86) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(87) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(88) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(89) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(90) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(91) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(92) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(93) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(94) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(95) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(96) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(97) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(98) {
  z-index: 0;
}

.product-card:hover .product-card:nth-child(99) {
  z-index: 0;
}

.product-card:hover .product-card__container {
  -webkit-box-shadow: 0px 13px 14px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 13px 14px rgba(0, 0, 0, 0.11);
  width: calc(100% + 40px);
  height: calc(100% + 100px);
  padding: 20px 20px 30px 20px;
}

.product-card__container {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.product-card__thumbnail {
  width: 100%;
  max-height: 260px;
  margin-bottom: 50px;
}

.product-card__thumbnail img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.product-card__title {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
  color: #000000;
}

.product-card__id {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.product-card__price {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
  color: #000000;
  margin-top: 10px;
}

.product-card__price span {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.product-card__to-cart {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  margin-top: 70px;
  margin-bottom: 30px;
  background: #b98500;
  padding: 15px 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.product-card__to-cart:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.products-filter {
  width: 100%;
  padding-bottom: 50px;
}

.products-filter__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 128px;
}

.products-filter__item input {
  width: 360px;
  border: 0;
  padding: 10px 25px 10px 100px;
  border-bottom: 1px solid #000;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  background: transparent;
  color: #000000;
}

.products-filter__item select {
  width: 260px;
  padding: 10px;
  border: 0;
  border-bottom: 1px solid #000;
  background: transparent;
}

.products-filter__btns {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products-filter__btns button {
  padding: 15px 45px;
}

.products-filter__btns button.submit {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  background: #b98500;
  border: 1px solid #b98500;
  color: #ffffff;
}

.products-filter__btns button.clear {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  border: 1px solid #000;
  background: transparent;
  color: #000000;
  margin-left: 30px;
}

.about-home {
  margin-top: 160px;
}

.about-home__title {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 41px;
  /* identical to box height */
  color: #000000;
  margin-bottom: 50px;
}

.about-home__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 150px;
}

.about-home__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.about-home__description p,
.about-home__description ul {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

.about-home__description p + p {
  margin-top: 30px;
}

.about-home__description a {
  display: inline-block;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  margin-top: 70px;
  margin-bottom: 30px;
  background: #b98500;
  padding: 15px 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.about-home__description a:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.about-home__thumbnail {
  width: 520px;
  height: 460px;
}

.about-home__thumbnail img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.about {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.about__container {
  max-width: 1140px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 150px;
  padding-top: 70px;
  padding-bottom: 100px;
}

.about__row {
  max-width: 1140px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 150px;
  padding-top: 70px;
  padding-bottom: 100px;
}

.about__row.bg-block {
  background-image: url(images/about-block-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.about__row.bg-block * {
  color: #fff;
}

.about__content p {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

.about__title {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 41px;
  /* identical to box height */
  color: #000000;
  margin-bottom: 60px;
}

.brands {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 150px;
  padding-bottom: 70px;
}

.brands__container {
  max-width: 1140px;
}

.brands__title {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 41px;
  /* identical to box height */
  color: #000000;
  margin-bottom: 80px;
}

.brands__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.brands__item {
  width: 100%;
  height: 100%;
}

.brands__item img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center center;
     object-position: center center;
}

.partners {
  width: 100%;
  margin-top: 165px;
}

.partners__title {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 41px;
  color: #000000;
  margin-bottom: 50px;
}

.partners .swiper {
  width: 100%;
  height: 300px;
}

.partners-slider {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.partners-slider .swiper-wrapper {
  padding-bottom: 20px;
}

.partners-slider .swiper-slide {
  width: 165px;
  height: 185px !important;
}

.partners-slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center center;
     object-position: center center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-image: url(images/footer-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 115px;
  padding-bottom: 30px;
}

.footer__container {
  width: 1140px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "links logo" "msg logo" "copy copy";
}

.footer__row {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: links;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100px;
}

.footer__links-list + ul {
  margin-left: 50px;
}

.footer__links-list li + li {
  padding-top: 20px;
}

.footer__links-list li.title {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.05em;
  color: #ffffff;
}

.footer__links-list li a {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

.footer__logo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: logo;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo img {
  display: block;
  width: 318px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer__thanks-msg {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: msg;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  margin-top: 120px;
  max-width: 555px;
}

.footer__copyright {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: copy;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  /* identical to box height */
  letter-spacing: 0.22em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.89);
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.contact-form {
  background-image: url(images/product-form-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  width: 100%;
}

.contact-form__container {
  max-width: 1140px;
  width: 100%;
  padding: 60px 0 90px 0;
}

.contact-form__title {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 51px;
  color: #ffffff;
}

.contact-form__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10fr 8fr;
      grid-template-columns: 10fr 8fr;
  grid-gap: 50px 128px;
  margin-top: 80px;
}

.contact-form__form {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "title title" "name  last" "phone size" "msg   msg" "btn   btn";
  grid-gap: 20px 30px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.contact-form__form input {
  background: #5f5a44;
  border: 0;
  border-radius: 11px;
  padding: 20px 25px;
  color: #fff;
}

.contact-form__form input.name {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: name;
}

.contact-form__form input.lastname {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: last;
}

.contact-form__form input.phone {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: phone;
}

.contact-form__form input.size {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: size;
}

.contact-form__form input::-webkit-input-placeholder {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #7c7c7c;
}

.contact-form__form input:-ms-input-placeholder {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #7c7c7c;
}

.contact-form__form input::-ms-input-placeholder {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #7c7c7c;
}

.contact-form__form input::placeholder {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #7c7c7c;
}

.contact-form__form textarea {
  background: #5f5a44;
  border: 0;
  border-radius: 11px;
  padding: 20px 25px;
  color: #fff;
  resize: vertical;
}

.contact-form__form textarea::-webkit-input-placeholder {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #7c7c7c;
}

.contact-form__form textarea:-ms-input-placeholder {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #7c7c7c;
}

.contact-form__form textarea::-ms-input-placeholder {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #7c7c7c;
}

.contact-form__form textarea::placeholder {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #7c7c7c;
}

.contact-form__form textarea.msg {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: msg;
}

.contact-form__form button[type="submit"] {
  background: #b98500;
  width: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 15px;
  border: 0;
  margin: 0 auto;
}

.contact-form__form button[type="submit"].submit {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: btn;
}

.contact-form__form-title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: title;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  /* identical to box height */
  color: #ffffff;
}

.contact-form__col {
  position: relative;
  padding-top: 15px;
}

.contact-form__col::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -64px;
  width: 1px;
  height: 100%;
  background: #9b9b9b;
}

.contact-form__col h3 {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
  color: #ffffff;
}

.contact-form__col p {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  margin-top: 30px;
}

.contact-form.about-form {
  background: #fff;
}

.contact-form.about-form .contact-form__form {
      grid-template-areas: "title title title title" "name  last  msg    msg" "phone size  msg    msg" "btn   btn   btn    btn";
  width: 100%;
}

.contact-form.about-form .contact-form__form input {
  background: #ededed;
}

.contact-form.about-form .contact-form__form textarea {
  background: #ededed;
}

.contact-form.about-form .contact-form__title {
  color: #000;
}

.contact-form.about-form .contact-form__form-title {
  color: #000;
}

.contact-form.about-form .contact-form__description {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */
  color: #000000;
}

.contact-form.main-contact-form {
  background: #fff;
}

.contact-form.main-contact-form .contact-form__form input {
  background: #ededed;
}

.contact-form.main-contact-form .contact-form__form textarea {
  background: #ededed;
}

.contact-form.main-contact-form .contact-form__title {
  color: #000;
}

.contact-form.main-contact-form .contact-form__form-title {
  color: #000;
}

.contact-form.main-contact-form .contact-form__description {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */
  color: #000000;
}

.contact-form.main-contact-form .contact-form__col h3 {
  color: #000;
}

.contact-form.main-contact-form .contact-form__col p {
  color: #000;
}

.categories__title {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 41px;
  /* identical to box height */
  color: #000000;
  margin-top: 150px;
  margin-bottom: 60px;
}

.categories__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  -webkit-perspective: 800px;
          perspective: 800px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.category {
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 18px;
  cursor: pointer;
}

.category:hover {
  -webkit-transform: rotateX(-10deg);
          transform: rotateX(-10deg);
}

.category__title {
  position: absolute;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  left: 30px;
  top: 25px;
}

.category__thumb {
  border-radius: 18px;
  height: 250px;
}

.category__thumb img {
  display: block;
  border-radius: 18px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacts {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 150px;
}

.contacts__title {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 41px;
  /* identical to box height */
  color: #000000;
  margin-bottom: 50px;
}

.contacts__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #f7f8fa;
  -webkit-box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.21);
          box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.21);
  border-radius: 14px;
  padding: 20px 55px 55px 55px;
}

.contact-item__thumb {
  width: 60px;
  height: 60px;
}

.contact-item__thumb img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.contact-item__title {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */
  color: #000000;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 3px solid #e9e9e9;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.contact-item__link {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 31px;
  /* identical to box height */
  color: #000000;
}

.single-product {
  margin-bottom: 140px;
}

.single-product__back-btn {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  margin-top: 50px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.single-product__back-btn::before {
  content: "";
  display: block;
  background-image: url(images/back-btn.svg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
  margin-right: 5px;
}

.single-product__title {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 41px;
  /* identical to box height */
  color: #000000;
  margin-top: 55px;
  margin-bottom: 55px;
}

.single-product__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.single-product__thumbs {
  height: 750px;
  width: 50%;
}

.single-product__thumbs .main-thumbs-slider {
  max-height: 555px;
}

.single-product__thumbs .main-thumbs-slider .swiper-slide img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.single-product__thumbs .thumbs-slider {
  height: 165px;
  margin-top: 30px;
}

.single-product__thumbs .thumbs-slider .swiper-slide img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.single-product__info {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.single-product__name {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #000000;
}

.single-product__id {
  margin-top: 15px;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */
  color: #000000;
}

.single-product__id span {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #000000;
  margin-right: 15px;
}

.single-product__description {
  margin-top: 30px;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}

.single-product__size {
  margin-top: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single-product__size select {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  color: #000000;
  border: 0;
  border-bottom: 2px solid #000;
  padding: 10px;
  padding-right: 105px;
}

.single-product__checkout {
  background: #b98500;
  border: 0;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #ffffff;
  cursor: pointer;
  padding: 15px 50px;
  margin-top: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.single-product__related-products {
  width: 100%;
}

.single-product__related-products .related-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-gap: 30px;
  width: 100%;
}

.single-product__related-products .related-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.single-product__related-products .related-item img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 165px;
}

.single-product__related-products .related-item h4 {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */
  color: #000000;
  margin-top: 15px;
}

@media screen and (max-width: 1200px) {
  .main__container {
    width: 900px;
    max-width: 900px;
  }
}
/*# sourceMappingURL=style.css.map */