<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agro Shina</title>
    
    <!-- <link
    rel="stylesheet"
    href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
  /> -->
    <link rel="stylesheet" href="../public/style.css" />
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="header__container">
          <div class="header__row">
            <nav class="header__nav">
              <ul class="nav-menu">
                <li class="nav-menu__item has-children">
                  <a href="#">Продукция</a>
                  <ul class="sub-menu">
                    <li class="sub-menu__item">
                      <a href="#">Lorem, ipsum.</a>
                    </li>
                    <li class="sub-menu__item">
                      <a href="#">Lorem, ipsum.</a>
                    </li>
                    <li class="sub-menu__item">
                      <a href="#">Lorem, ipsum.</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-menu__item">
                  <a href="#">О компании</a>
                </li>
                <li class="nav-menu__item">
                  <a href="#">Новости</a>
                </li>
                <li class="nav-menu__item">
                  <a href="#">Контакты</a>
                </li>
              </ul>
            </nav>
            <div class="header__logo">
              <img src="../public/images/logo.svg" alt="" />
            </div>
            <div class="header__topbar">
              <a href="#" class="contacts">Связаться</a>
              <a href="#" class="edit">
                <img src="../public/images/lines.svg" alt="" />
              </a>
              <a href="#" class="search">
                <img src="../public/images/search.svg" alt="" />
              </a>
            </div>
          </div>
          <div class="header__about">
            <div class="col">
              <h1 class="pr-title">Agro Continental</h1>
              <h2 class="sc-title">First in Reliability</h2>
            </div>
            <p class="content">
              Компанія спеціалізується на молочному тваринництві. «ТАС Агро»
              містить до 5,5 тис. голів ВРХ, з них до 2,5 тис. голів дійного
              стада. Значні обсяги молока, яке виробляє компанія, відноситься до
              категорій екстра та вищих класів.
            </p>
            <a href="#">Познакомиться</a>
          </div>
          <div class="header__features">
            <h3 class="th-title">Наши достижения:</h3>
            <ul>
              <li>
                <h4>1500</h4>
                <span>Довольных клиентов</span>
              </li>
              <li>
                <h4>30</h4>
                <span>Партнеров</span>
              </li>
              <li>
                <h4>168 402</h4>
                <span>Продано шин</span>
              </li>
            </ul>
          </div>
        </div>
      </header>
      <main class="main">
        <div class="main__container home">
          <div class="categories">
            <div class="categories__title">Категории</div>
            <div class="categories__list">
              <div class="category">
                <div class="category__title">Нестандартные колёса</div>
                <div class="category__thumb">
                  <img src="../public/images/categories/Нестандартные.jpg" alt="">
                </div>
              </div>
              <div class="category">
                <div class="category__title">Пропашные колёса</div>
                <div class="category__thumb">
                  <img src="../public/images/categories/Пропашные.jpg" alt="">
                </div>
              </div>
              <div class="category">
                <div class="category__title">Сдвоенные колёса</div>
                <div class="category__thumb">
                  <img src="../public/images/categories/Сдвоенные.jpg" alt="">
                </div>
              </div>
              <div class="category">
                <div class="category__title">Ремонт</div>
                <div class="category__thumb">
                  <img src="../public/images/categories/Ремонт.jpg" alt="">
                </div>
              </div>
              <div class="category">
                <div class="category__title">Шины</div>
                <div class="category__thumb">
                  <img src="../public/images/categories/Шины.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="about-home">
            <div class="about-home__title">Компания</div>
            <div class="about-home__row">
              <div class="about-home__description">
                <p>
                  Компания Агроконтиненталь является крупнейшим производителем
                  специализированных и изготовленных на заказ
                  сельскохозяйственных колес для сельскохозяйственной техники.
                </p>
                <p>
                  Мы также производим большинство других типов и конструкций
                  колес для:
                  <ul>
                    <li>• скоростных сельскохозяйственных машин,</li>
                    <li>• комбайнов,</li>
                    <li>• телескопических погрузчиков,</li>
                    <li>• самоходных и прицепных опрыскивателей,</li>
                    <li>• компактных и транспортных тракторов,</li>
                    <li>• прицепных орудий.</li>
                  </ul>
                </p>
                
                <p>
                  Все наши колеса изготавливаются на нашем заводе в г. Днепр с
                  высочайшим качеством и отделкой, и все они соответствуют
                  требованиям E.T.R.T.O.
                </p>
                <a href="#">Подробнее</a>
              </div>
              <div class="about-home__thumbnail">
                <img src="../public/images/about-home.png" alt="" />
              </div>
            </div>
          </div>
          <div class="partners">
            <div class="partners__title">Партнеры</div>
            <div class="swiper partners-slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="../public/images/епіцентр.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="../public/images/harveast.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="../public/images/kernel.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="../public/images/зелена-долина.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="../public/images/агропродсервіс.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="../public/images/landfort.jpg" alt="">
                </div>
              </div>
              <div class="swiper-scrollbar"></div>
            </div>
          </div>
        </div>
        
      </main>
      <footer class="footer">
        <div class="footer__container">
          <div class="footer__row">
            <ul class="footer__links-list">
              <li class="title">Продукция:</li>
              <li>
                <a href="#">Шины</a>
              </li>
              <li><a href="#">Колесные
                системы</a></li>
            </ul>
           
            <ul class="footer__links-list">
              <li class="title">Главная</li>
              <li>
                <a href="#">Компания</a>
              </li>
              <li><a href="#">Блог</a></li>
              <li><a href="#">Новости</a></li>
            </ul>
            <ul class="footer__links-list">
              <li class="title">Информация</li>
              <li>
                <a href="#">Прайс лист</a>
              </li>
              <li><a href="#">Технологии производства</a></li>
            </ul>
            <ul class="footer__links-list">
              <li class="title">Контакты</li>
              <li>
                <a href="#">Телефон</a>
              </li>
              <li><a href="#">Карта</a></li>
              <li><a href="#">Почта</a></li>
            </ul>
          </div>
          <div class="footer__logo">
            <img src="../public/images/logo.svg" alt="">
          </div>
          <div class="footer__thanks-msg">
            Мы рады что вы выбрали нашу компанию. Наша цель предоставлять лучшие услуги и условия для сотрудничества. Благодарим за выбор!
          </div>
          <div class="footer__copyright">
            © Agrocontinental agro COMPANY All Rights Reserved 2022
          </div>
        </div>
      </footer>
    </div>
    <!-- <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script> -->
    <script async type="module" src="../public/app.js"></script>
  </body>
</html>
